@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$pinkColor: #db2777;
$fuchsiaColor: #c026d3;
$fuchsiaTRANSPARENT: #bf26d386;
$purpleColor: #9333ea;
$indigoBlueColor: #4f46e5;
$oragneColor: #e05e00;
$offwhiteBg: #f1f5f9;
$greyColor: #d7dce2;
$offwhiteTRANSPERENT: rgb(241, 245, 249, 0.75);
$offwhiteHOVER: rgba(238, 197, 252, 0.3);
$darkFonts: #1f2937;
$lightFonts: #f1f5f9;

* {
    box-sizing: border-box;
}

 
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(147,51,234,1) 0%, rgba(219,39,119,1) 50%, rgba(249,115,22,1) 100%);
    display: grid;
    grid-template-columns: minmax(300px, 2fr) minmax(500px, 10fr);
    font-family: 'Nunito', sans-serif;
}

.div-dashboard {
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-color: $offwhiteTRANSPERENT;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// GROUP HEADER + NAV STYLING

.div-headnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $offwhiteBg;
    border-radius: 15px;
}

.header, .nav {
    padding: 0 20px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// HEADER STRYLING

.divsearch {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 60%;
}

input {
    height: 23px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid $darkFonts;
    background-color: white;
    color: $darkFonts;
    font-family: inherit;
}


.svg-header {
    height: 20px;
    stroke: $darkFonts;
    stroke-width: 2px;
    fill: transparent;
    cursor: pointer;
}

.svg-header:hover {
    stroke: $indigoBlueColor;
}

.fa-github {
    color: $darkFonts;
    transition: transform 0.3s ease-in-out;
    font-size: 23px;
    margin: 0;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
    color: $indigoBlueColor;
}

.divuser{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-user1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./imgs/avatars/girl-redhair.jpg);
    background-size: contain;
    box-shadow: 2px 2px 7px $greyColor;
}

.h2-header {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: $darkFonts;
}


// NAV STYLING

.nav {

    

}

.div-nav-userinfo {
    height: 100%;
    width: 60%;
    display: grid;
    grid-template: 40px 40px / 90px 80%;
    grid-template-areas:    "icon text"
                            "icon title";


}

.iconuser-2 {
    grid-area: icon;
    align-self: center;
    width: 70px;
    min-height: 70%;
    aspect-ratio: 1/1;
    border-radius: 70%;
    background-image: url(./imgs/avatars/girl-redhair.jpg);
    background-size: contain;
    box-shadow: 2px 2px 7px $greyColor;
}

.p-nav {
    margin: 0;
    grid-area: text;
    justify-self: start;
    align-self: end;
    font-size: 18px;
    font-weight: 700;
    color: $darkFonts;
}

.h2-nav {
    margin: 0;
    grid-area: title;
    justify-self: start;
    align-self: start;
    font-size: 24px;
    font-weight: 700;
    color: $darkFonts;
}

.div-nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.nav-btn {
    font-family: inherit;
    height: 40px;
    width: 120px;
    border: none;
    background-color: $fuchsiaColor;
    color: $lightFonts;
    font-weight: 800;
    font-size: 18px;
    border-radius: 40px;
}

.nav-btn:hover {
    background-color: $indigoBlueColor;
    cursor: pointer;
}

// ASIDE STYLING 

.aside {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $lightFonts;
    gap: 44px;
}

.svg-aside {
    height: 20px;
    align-self: center;
    fill: $lightFonts;
}

.aside-h1 {
    min-width: fit-content;
    width: 90%;
    margin: 20px 0 0 0;
    border-bottom: 1px solid $lightFonts;
    align-self: center;
    font-family: 'Saira', sans-serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
}

li {
    align-items: center;
    height: 48px;
    margin: 0;
    padding: 5px 30px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

li:hover {
    border-left: 5px solid $offwhiteBg;
    background-color: $offwhiteHOVER;
    padding: 5px 25px;
    
}

// STYLING MAIN

.div-mainsection {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 6fr minmax(240px, 1fr) ;
   // overflow: auto;
}

.main {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

.sectionright {
    padding: 0 0 0 20px;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 40% 10% 40%;
}

.h3 {
    margin: 0;
    padding: 5px 10px;
    align-self: end;
}

.art-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.art-section::-webkit-scrollbar {
    display: none;
  }

.article-card{
    border-radius: 10px;
    background-color: $offwhiteBg;
    display: flex;

}

.div-articlehighlight {
    height: 100%;
    width: 10px;
    border-radius: 10px 0 0 10px;
    background-color: $fuchsiaTRANSPARENT;
}


.div-articlemain {
    width: 100%;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

    background-color: transparent;
    position: relative;
    overflow: hidden;

}

.div-articlemain:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $fuchsiaTRANSPARENT;
    transition: all 0.5s;
    z-index: 1;
}

.div-articlemain:hover:before{
    width: 100%;
}

.h4-card {
    margin: 0;
    font-size: 18px;
    z-index: 1;
}

.p-card {
    margin: 0;
    z-index: 1;
}

.div-svgcards {

    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    z-index: 1;
}

.svg-card {
    height: 20px;
    align-self: center;
    fill: $darkFonts;
}

#view-icon {
    height: 30px;
}

.svg-card:hover {
    fill: $offwhiteBg;
    cursor: pointer;
}

.sectionright>.article-card{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.div-updates>.p-card {    
    padding-bottom: 2px;
    width: 100%;
    text-align: center;  
    max-width: 200px;
}

.div-updates>h4 {
    margin: 0;
}

.div-updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

hr {
    width: 90%;
    border-top: 1px solid $darkFonts;
}

.div-trending {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.miles {
    background-image: url(./imgs/avatars/milles.jpg);
}

.john {
    background-image: url(./imgs/avatars/john.jpg);
}

.ana {
    background-image: url(./imgs/avatars/ana.jpg);
}